/* common.js */

.safelink--outer, .safelink--outer * {
  all: revert;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px !important;
  font-family: Helvetica !important;
}

.safelink--outer div, .safelink--outer .block {
  display: block;
}

/* position */

.safelink--outer .fixed,
.safelink--outer.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

/* width and height */

.safelink--outer .full-window,
.safelink--outer.full-window {
  width: 100vw;
  height: 100vh;
}

.safelink--outer .min-full-height {
  min-height: 100vh;
}

.safelink--outer .max-width-550px {
  width: 100%;
  max-width: 550px;
}

.safelink--outer .width-80px {
  width: 80px;
}

/* overflow */

.safelink--outer .overflow-auto,
.safelink--outer.overflow-auto {
  overflow: auto;
}

/* flex */

.safelink--outer .flex {
  display: flex;
  width: 100%;
}

.safelink--outer .inline-flex {
  display: inline-flex;
}

.safelink--outer .flex.flex-centered {
  align-items: center;
  justify-content: center;
}

.safelink--outer .flex.space-between {
  justify-content: space-between;
}

.safelink--outer .flex-auto {
  flex: auto;
}

.safelink--outer .flex-none {
  flex: none;
}

/* padding */

.safelink--outer .py-1 {
  padding: 0.35rem 0;
}

.safelink--outer .pb-1 {
  padding-bottom: 0.35rem;
}

.safelink--outer .p-2 {
  padding: 0.75rem;
}

.safelink--outer .py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.safelink--outer .pr-3 {
  padding-right: 1rem;
}

.safelink--outer .pb-3 {
  padding-bottom: 1rem;
}

.safelink--outer .pb-4 {
  padding-bottom: 1.5rem;
}

.safelink--outer .pt-4 {
  padding-top: 1.5rem;
}

.safelink--outer .p-5 {
  padding: 2rem;
}

.safelink--outer .px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.safelink--outer .pb-5 {
  padding-bottom: 2rem;
}

.safelink--outer .pt-5 {
  padding-top: 2rem;
}

/* margin */

.safelink--outer .space-left {
  margin-left: 5px;
}

.safelink--outer .space-right {
  margin-right: 5px;
}

.safelink--outer .mt-3 {
  margin-top: 1rem;
}

/* border */

.safelink--outer .border-radius {
  border-radius: 3px;
}

.safelink--outer .border-radius-t {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* table */

.safelink--outer .table {
  display: table;
  width: 100%;
}
.safelink--outer .table.table-fixed {
  table-layout: fixed;
}

.safelink--outer .table .table-row {
  display: table-row;
}

.safelink--outer .table .table-column {
  display: table-cell;
}

/* text */

.safelink--outer .truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.safelink--outer .medium-text {
  font-size: 14px !important;
}

.safelink--outer .small-text {
  font-size: 12px !important;
}

.safelink--outer .centered {
  text-align: center;
}

.safelink--outer a.unstyled {
  text-decoration: none !important;
}

/* color */

.safelink--outer .backdrop,
.safelink--outer.backdrop {
  background: rgba(0, 0, 0, 0.25);
}

.safelink--outer .bg-white {
  background: #fff;
}

.safelink--outer .color-white,
.safelink--outer a.color-white {
  color: #fff !important;
}

.safelink--outer .bg-primary,
.safelink--outer .bg-default,
.safelink--outer .bg-trusted,
.safelink--outer .bg-redirect,
.safelink--outer .bg-unknown {
  background: #4169e1;
}

.safelink--outer a.bg-primary:hover,
.safelink--outer a.bg-default:hover,
.safelink--outer a.bg-trusted:hover,
.safelink--outer a.bg-redirect:hover,
.safelink--outer a.bg-unknown:hover {
  background: #1c1cf0;
}

.safelink--outer .color-primary,
.safelink--outer a.color-primary {
  color: #4169e1 !important;
}

.safelink--outer .color-default,
.safelink--outer .color-unknown {
  color: #343434 !important;
}

.safelink--outer .color-trusted {
  color: #2e8b57 !important;
}

.safelink--outer .color-suspicious {
  color: #ef3038 !important;
}

.safelink--outer .bg-suspicious {
  background: #ef3038;
}

.safelink--outer a.bg-suspicious:hover {
  background: #ce2029 !important;
}

.safelink--outer .color-redirect {
  color: #ff7f50 !important;
}

.safelink--outer .color-grey {
  color: #808080 !important;
}

/* shadow */

.safelink--outer .elevated {
  box-shadow: 0px -15px 15px rgba(0, 0, 0, 0.15);
}

/* loading icon */

.safelink--outer .loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #555555;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* cursor */

.safelink--outer .cursor-pointer {
  cursor: pointer;
}

/* form input */

.safelink--outer input[type=checkbox] {
  transform: translateY(-2px);
}
